.sidebar {
	height: 100vh;
	width: 15vw;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 50px;
	padding: 20px 15px;

	background: linear-gradient(298deg, #b27ae2, #cba7eb, #984ed8);
	border: none;
	border-radius: 0 10px 10px 0;
	animation: appear 1s ease;

}

.sideTop{
	display: flex;
	flex-direction: column;
	gap: 23px;

	.topBanner {
		display: flex;
		align-items: center;
		gap: 24px;

		text-transform: uppercase;

		h5 {
			font-style: italic;
			letter-spacing: 0.5px;
		}

		.appIcon {
			height: 33px;
			width: 33px;
			display: flex;
			align-items: center;
			justify-content: center;
			border: solid 1px #ff1f90;
			border-radius: 50%;
			background-color: #1f1f90;
			color: #ff1f90;
		}
	}
}

.pageLinks,
.otherLinks {
	display: flex;
	flex-direction: column;
	gap: 24px;

	li {
		list-style-type: none;
		display: flex;
		align-items: center;
		gap: 10px;
		color: #222;
		font-weight: 600;
		cursor: pointer;

		&:hover{
			background-color: #7c22e7;
			color: #fff;
			font-weight: 500;
			letter-spacing: 1px;
			border: none;
			border-radius: 20px;

			.iconBtn {
				background-color: #222;
				color: #fff;
				font-size: 12px;
			}
		}
	}
}

.line {
	width: 100%;
	height: 1px;
	border: none;
	border-top: solid 1.7px #4555;
}

.sideBottom {
	display: flex;
	flex-direction: column;
	gap: 33px;

	.endBanner {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.socialIcon {
			width: 33px;
			height: 33px;
			background-color: #b27ae2;
			color: inherit;

			&:hover,
			:active{
				background-color: #7c22e7;
				color: #fff;
			}
		}
	}
}

.sideIcon {
	color: #222;
}
.iconBtn {
	width: 33px;
	height: 33px;
	background-color: #b27ae2;
	color: inherit;
}

.active {
	background-color: #7c22e7;
	color: #fff;
	font-weight: 500;
	letter-spacing: 1px;
	border: none;
	border-radius: 20px;

	.iconBtn {
		background-color: #222;
		color: #fff;
		font-size: 12px;
	}
}

@keyframes appear {
	from{
		opacity: 1;
		transform: translateY(200px);
	}
	to{
		opacity: 1;
		transform: translateY(0);
	}
}